streamlit==1.26.0  # Adjust to a stable version if needed
scikit-learn==1.2.2  # Match the version used during model creation
joblib
Pillow>=10.0.0
numpy
pandas
setuptools<60.0
Pillow --only-binary=:all:
